{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
  background: #ffffff;

}
.homeheader{
  left: 37%;  
  position: absolute;
}
.homeheader1{
  bottom: 85%;
  left: 40%;  
  position: absolute;
}
.homeheader2{
  left: 32%;  
  bottom: 78%;
  position: absolute;
}
.btn{
  bottom: 82%;
  left: 15%;  
  position: absolute;
  margin-top: 15px;
  padding: 17px;
  width: 67%;
  background: hwb(156 85% 9%);
  color: hsl(0, 62%, 19%);
  text-transform: uppercase;
  letter-spacing: 100px;
  border-radius: 15px; 

}
.btn button{
  background-color: #222422;
  border: none;
  color: white;
 
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
 }
  .btn button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.image{
  
  position: absolute;
  top: 202px;
  left: 205px;
  max-width: 10%;
}
.image1{
  
  position: absolute;
  top: 202px;
  left: 810px;
  max-width: 10%;
}
.image2{
  
  position: absolute;
  top: 400px;
  left: 500px;
  max-width: 10%;
}
.image3{
  
  position: absolute;
  top: 400px;
  left: 205px;
  max-width: 10%;
}
.image4{
  
  position: absolute;
  top: 202px;
  left: 500px;
  max-width: 10%;
}
.image5{
  
  position: absolute;
  top: 400px;
  left: 810px;
  max-width: 10%;
}
.det{
  
  top: 400px;
  left: 810px;

}
.btnhome{
  bottom: 72%;
  left: 15%;  
  position: absolute;
  margin-top: 15px;
  padding: 17px;
  width: 67%;
  background: hwb(156 85% 9%);
  color: hsl(0, 62%, 19%);
  text-transform: uppercase;
  letter-spacing: 100px;
  border-radius: 15px; 

}
.btnhome button{
  background-color: #222422;
  border: none;
  color: white;
 
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
 }
